:root {
  --primary-color: #0CBABA;
  --success-color: #79b851;
  --fail-color: #f3c237;
  --neutral-color: #a4aec4;
  --error-color: red;

  --text-color: black;
  --bg-color: 225, 225, 225;
  --bg-color2: 225, 225, 225;
  --inner-shadow: rgb(3, 192, 192);
}

body {
  font-family: Arial, sans-serif;
  display: grid;
  place-items: center;
  min-height: 100dvh;
  height: 100vh;
  color: var(--text-color);
  background-color: rgb(var(--bg-color));
}

main {
  display: grid;
  justify-items: center;
}

dialog {
  border-radius: .5rem;
  border-width: 2px;
  background-color: rgb(var(--bg-color));
}

dialog::backdrop {
  background-color: rgba(--bg-color, .5);
  backdrop-filter: blur(3px);
}

label {
  margin-bottom: .7rem;
}

button {
  border: none;
  outline: none;
  font-weight: bolder;
  position: relative;
  overflow: hidden;
}

button::before {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  background-color: rgb(var(--bg-color));
  opacity: 0;
  transition: opacity 200ms;
}

button:hover::before {
  opacity: 0.2;
}

button:active::before {
  opacity: 0.4;
}

#input-container {
  display: grid;
  grid-template-columns: auto 1fr;
  border: 1px solid;
  background-color: rgb(var(--bg-color2));
}

#guess-input {
  font-size: 3rem;
  letter-spacing: .5rem;
  width: calc(5ch + (.5rem * 4) + (1rem * 2));
  text-align: center;
  padding: .1rem 1rem;
  font-variant: small-caps;
  border: none;
  background-color: rgb(var(--bg-color2));
  color: var(--text-color);
  outline: none;
}

#guess-input:focus {
  box-shadow: inset 0px 0px 7px 0px var(--inner-shadow)
}

#guess-button {
  display: block;
  margin: 0 auto;
  padding: .7rem 1.4rem;
  font-size: 1.3rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  outline: none;
}

#error {
  color: var(--error-color);
  font-weight: bold;
}

#error:empty {
  display: none;
}

#restart-button {
  float: right;
  background-color: transparent;
  border: inherit;
  color: inherit;
  padding: .5rem;
  border-radius: 1rem;
  min-width: 7rem;
}

.success {
  border-color: green;
  color: yellowgreen;
}

.fail {
  border-color: goldenrod;
  color: orange;
}

.letter {
  border: 1px solid var(--text-color);
  padding: .3rem;
  margin: .3rem;
  min-width: 1.2rem;
  font-weight: bold;
  text-align: center;
  display: inline-block
}

.row {
  margin-bottom: 0.3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #0ba4a4;
    --success-color: #659b44;
    --fail-color: #cda22e;
    --neutral-color: #828a9b;
    --error-color: tomato;

    --text-color: lightgray;
    --bg-color: 0, 0, 0;
    --bg-color2: 35, 35, 35;
    --inner-shadow: darkcyan;
  }

  #input-container {
    border: none;
  }
}